body{
	margin: 0;
}
header{
	background-color: #CC2D0B;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
header h1{
	color: white;
}
header Img {
    border-radius: 400px;
    width: 400px;
    border: 15px solid #651200;
}
